$primary-color: #2274A5
$breakpoint-phone: 600px
$active-nav-color: #131B23
$icons-color: white
$intro-clor: #E7DFC6
$education-color: #E9F1F7
$experience-color: #816C61
$projects-color: #131B23
$laravel-color: #f72c1f
$js-color: #efd81d
$php-color: #4d588e

.project-detail
    z-index: 100
    width: 100vw
    height: 100%
    position: fixed
    visibility: hidden
    transition: visibility 0s, opacity 0.5s linear
    opacity: 0
    display: flex
    justify-content: center
    align-items: center
    background-color: rgba(0,0 ,0 ,0.8 )

    .detail
        display: flex
        flex-flow: column
        background-color: $php-color
        color: white
        width:100%
        height:100% 
        .button-wrapper
            padding: 40px 40px 0px 40px
            align-items: center
            display: flex
            justify-content: space-between

            .demo-btn
                padding: 5px 10px 5px 10px
                background-color: $projects-color
                border-radius: 5px
                margin-right: 30px
                cursor: pointer
            .button-end
                display: flex
                justify-content: space-between
                align-items: center
                flex: 1
                
            .title-wrapper
                flex: 4
                .title
                    font-weight: bolder
                    color: white
                    padding-bottom: 5px
                    border-bottom:2px solid black
                    width: fit-content
            i
                color: white
          

        .content
            padding: 40px
            padding-top: 0px
            display: flex
            flex-flow: column
            align-items: flex-start
            width: 100%
            .app-intro
                width: 100%
                padding: 10px 0px 10px 0px
            .feature-wrapper
                width: 100%
                display: flex
                flex-flow: row
                height: 500px
            .caption
                margin-bottom: 20px
            .feature-images
                display: flex
                align-items: center
                .img-nav
                    padding: 10px
                    i
                        color: white
                    i:hover
                        color: $active-nav-color
                .image
                    .caption
                        font-weight: bold
                    img
                        width: 500px
                        height: 400px
                        object-fit: cover
            .feature-about
                padding: 40px
            .about 
                width: 100%
                display: flex
            .about>div
                flex: 1
                span
                    padding: 5px
                    background-color: $projects-color
                    border-radius: 5px
                    margin: 5px

            
@media screen and (min-width: $breakpoint-phone)
    .project-detail
        .detail
            width: 80%
            height: 90%
            border-radius: 10px
