@use "variables" as v

$modal-backdrop-bg: rgba(0, 0, 0, 0.5)

.visit-site
  background-color: v.$primary-color
  border-radius: 3px
  color: white
  padding-top: 3px
  padding-bottom: 3px
  padding-left: 15px !important
  padding-right: 15px !important

  display: flex
  align-items: center
  width: fit-content
  cursor: pointer
  font-weight: bold
  gap: 5px
.modal-fullscreen
    .modal-dialog
        z-index: 100
        position: fixed
        top: 0
        right: 0
        bottom: 0
        left: 0
        border: none
        background-color: transparent
        margin: 0
        .modal-content
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
            width: 100%
            height: 100%
            background-color: #fff
            overflow-y: scroll
            scrollbar-width: none
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1)


            .modal-body
              padding: 10px

            .technologies
              display: flex
              gap: 5px
              flex-wrap: wrap
              span
                border: 0.5px solid v.$primary-color
                font-size: small
                font-weight: bold
                padding: 2px 6px

            h3
              color: v.$primary-color !important
              margin-top: 20px

            .slider
              display: grid
              grid-template-columns: 1fr 10fr 1fr
              box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1)
              margin-top: 30px
              .start-button
                display: flex
                align-items: center
                justify-content: center

                i:hover
                  background-color: rgba(0, 0, 0, 0.8)

                i
                  cursor: pointer
                  background-color: rgba(0, 0, 0, 0.5)
                  border-radius: 50%
                  padding: 5px
                  color: white
              @media screen and (min-width: v.$breakpoint-phone)
                .start-button
                  justify-content: start !important
                .end-button
                  justify-content: end !important

              .end-button
                display: flex
                align-items: center
                justify-content: center
                i:hover
                  background-color: rgba(0, 0, 0, 0.8)

                i
                  cursor: pointer
                  background-color: rgba(0, 0, 0, 0.5)
                  border-radius: 50%
                  padding: 5px
                  color: white
              .slides
                display: flex
                align-items: center
                justify-items: center
                transition: transform 0.5s ease-in-out
              .slide
                display: flex
                flex-flow: column
                width: 100%
                gap: 10px
                .detail
                  padding: 5px
                  display: flex
                  flex-flow: column
                  justify-content: center
                  align-items: start
                  width: 100%
                  text-align: start
                  h4
                    border-bottom: 3px solid v.$primary-color

                .image-wrapper
                  width: 100%
                  height: 300px
                  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1)

                  img
                    width: 100%
                    height: 100%
                    object-fit: scale-down
                    outline: none !important
                    border-width: 0 !important
                    padding: 5px

              @media screen and (min-width: v.$breakpoint-phone)
                .slide
                  flex-flow: row
                  .image-wrapper
                    width: 700px !important
                    height: 400px !important
                    img
                      width: 600px
                      height: 100%
                      padding: 5px
                      object-fit: scale-down
                      outline: none !important
                      border-width: 0 !important


              button
                background-color: rgba(0, 0, 0, 0.5)
                color: #fff
                border: none
                padding: 10px 20px
                cursor: pointer

    .modal-header
        border-bottom: 1px solid #ddd
        display: flex
        justify-content: space-between
        align-items: center
        padding-left: 10px
        padding-right: 10px
        .modal-title
          font-weight: bolder

    .modal-close
        font-weight: bold
        color: #333
        cursor: pointer

    @media screen and (min-width: v.$breakpoint-phone)
        .modal-content
            width: 80% !important
            height: 90% !important
            padding-left: 20px
            padding-right: 20px

            .slider
              grid-template-columns: 1fr 18fr 1fr !important
              box-shadow: none !important

.modal-backdrop.show
    background-color: $modal-backdrop-bg
