$primary-color: #2274A5
$breakpoint-phone: 600px
$active-nav-color: #131B23
$icons-color: white
$intro-color: #22BBCC
$education-color: #E9F1F7
$experience-color: #816C61
$projects-color: #131B23
$laravel-color: #f9322c
$js-color: #efd81d
$php-color: #4d588e
$vue-color:#42b883