html {
  scroll-behavior: auto;
}

body {
  background-color: #2274A5 !important;
}

@font-face {
  font-family: WorkSans;
  src: url("./webfonts/WorkSans-Regular.ttf");
}
body::-webkit-scrollbar {
  width: 0.3em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: #2274A5;
  outline: 1px solid #2274A5;
}

body {
  font-family: WorkSans, serif;
}

.active-nav {
  background-color: #131B23;
}
.active-nav a {
  color: white !important;
}

.js {
  color: #efd81d;
}

.laravel {
  color: #f9322c;
}

.php {
  color: #4d588e;
}

.vue {
  color: #42b883;
}

a {
  text-decoration: none;
  padding: 10px;
}

.color-text {
  color: #2274A5;
}

.bold {
  font-weight: bold;
}

.section-card {
  padding: 20px;
  min-height: 100vh;
  display: flex;
}

.section-title {
  top: 22px;
  left: 20px;
  width: fit-content;
  position: sticky;
  color: #2274A5;
  font-weight: bold;
  z-index: 99;
  margin: 0;
  background-color: black;
}

.nav a {
  color: white;
  font-weight: bolder;
  font-size: 20pt;
}

.none {
  display: none;
}

.block {
  display: block;
}

.bottom-bar {
  width: 10px;
  height: 10px;
  background-color: #2274A5;
  display: inline;
  color: white;
}

i {
  color: #2274A5;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-bar-wrapper {
  display: flex;
  height: fit-content;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  z-index: 99;
  width: 100%;
  padding-bottom: 20px;
  background-color: black;
}
.menu-bar-wrapper .menu-bar {
  width: fit-content;
  display: flex;
  padding-right: 20px;
  padding-top: 20px;
}

.go-down {
  position: fixed;
  bottom: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.go-down i {
  margin: 0;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
  background-color: #2274A5;
  border: 1px solid white;
  color: white;
  cursor: pointer;
}

.go-down i:active {
  width: 55px;
  height: 55px;
}

.drawer-menu-wrapper {
  z-index: 100;
  width: 100%;
  height: 100%;
  position: fixed;
  visibility: hidden;
  transition: visibility 0s, opacity 0.5s linear;
  opacity: 0;
}
.drawer-menu-wrapper .button-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  background-color: #2274A5;
}
.drawer-menu-wrapper .button-wrapper i {
  color: white;
  margin-top: 20px;
  margin-right: 20px;
}
.drawer-menu-wrapper .drawer-menu {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #2274A5;
}
.drawer-menu-wrapper .drawer-menu .menu-grid {
  display: grid;
  row-gap: 10px;
  margin-bottom: 50%;
}

@media screen and (min-width: 600px) {
  .menu-bar-wrapper {
    display: none;
  }
  .drawer-menu {
    display: none;
  }
  .intro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row;
  }
  .intro p {
    max-width: 50%;
  }
  .go-down {
    display: flex;
    justify-content: center;
    width: fit-content;
    right: 50px;
    position: fixed;
  }
  .go-down i:hover {
    background-color: #2274A5;
    color: white;
  }
  .section-title {
    left: 20%;
    border-bottom: 3px solid #2274A5;
    padding-bottom: 3px;
  }
  .section-title .bottom-bar {
    background-color: transparent;
    color: #2274A5;
  }
}
.body-wrapper {
  display: flex;
}
.body-wrapper a {
  color: #2274A5;
}
.body-wrapper .nav-wrapper {
  display: none;
}
@media screen and (min-width: 600px) {
  .body-wrapper .nav-wrapper {
    padding: 20px;
    width: 200px;
    height: 100%;
    position: fixed;
    flex: 1;
    display: flex;
    flex-flow: column;
    justify-content: center;
    background-color: black;
  }
  .body-wrapper .nav-wrapper .nav-item {
    margin-bottom: 10px;
  }
  .body-wrapper .section-wrapper {
    margin-left: 240px;
  }
}

/*# sourceMappingURL=app.css.map */
