
$primary-color: #2274A5
$breakpoint-phone: 600px
$active-nav-color: #131B23
$icons-color: white
$intro-clor: #E7DFC6
$education-color: #E9F1F7
$experience-color: #816C61
$projects-color: #131B23
$laravel-color: #f72c1f
$js-color: #efd81d
$php-color: #4d588e

html
    scroll-behavior: smooth

@font-face
    font-family: WorkSans
    src: url("webfonts/WorkSans-Regular.ttf")

body::-webkit-scrollbar
    width: 0.3em

body::-webkit-scrollbar-track
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3)

body::-webkit-scrollbar-thumb
    background-color: $primary-color
    outline: 1px solid $primary-color

body
    font-family: WorkSans

.active-nav
    background-color: $active-nav-color
    a
        color: white !important
.js
    color: $js-color
.laravel
    color: $laravel-color
.php
    color: $php-color

a
    text-decoration: none
    padding: 10px
.color-text
    color: $primary-color
.bold
    font-weight: bold
.section-card
    padding: 20px
    height: 100%
    display: flex
.section-title
    top: 22px
    left: 20px
    width: fit-content
    position: sticky
    color: $primary-color
    font-weight: bold
    z-index: 99
    margin: 0

.nav
    a
        color: white
        font-weight: bolder
        font-size: 20pt
.none
    display: none
.block
    display: block

.bottom-bar
    width: 10px
    height: 10px
    background-color: $primary-color
    display: inline
    color: white

i
    color: $primary-color
    font-size: 30px
    display: flex
    justify-content: center
    align-items: center

.menu-bar-wrapper
    display: flex
    height: fit-content
    justify-content: flex-end
    align-items: center
    position: fixed
    z-index: 99
    width: 100%
    padding-bottom: 20px
    background-color: black

    .menu-bar
        width: fit-content
        display: flex
        padding-right: 20px
        padding-top: 20px
    
.go-down
    position: fixed
    bottom: 50px
    width: 100%
    display: flex
    justify-content: center
    i
        margin: 0
        width: 50px
        height: 50px
        border-radius: 50px
        display: flex
        justify-content: center
        align-items: center
        z-index: 200
        background-color: $primary-color
        color: white
.go-down
    i:active
        width: 55px
        height: 55px

.drawer-menu-wrapper
    z-index: 100
    width: 100%
    height: 100%
    position: fixed
    visibility: hidden
    transition: visibility 0s, opacity 0.5s linear
    opacity: 0

    .button-wrapper
        width: 100%
        display: flex
        justify-content: flex-end
        background-color: $primary-color

        i
            color: white
            margin-top: 20px
            margin-right: 20px

    .drawer-menu
        position: fixed
        display: flex
        justify-content: center
        align-items: center
        width: 100%
        height: 100%
        background-color: $primary-color
        .menu-grid
            display: grid
            row-gap: 10px
            margin-bottom: 50%

.project-detail
    z-index: 100
    width: 100vw
    height: 100%
    position: fixed
    visibility: hidden
    transition: visibility 0s, opacity 0.5s linear
    opacity: 0
    background-color: $primary-color

    .button-wrapper
        padding: 20px
        align-items: center
        display: flex
        justify-content: space-between
        .title
            font-weight: bolder
            color: white
            padding-bottom: 5px
            border-bottom:2px solid black
        i
            color: white
          

    .content
        padding: 20px
        position: fixed
        display: flex
        flex-flow: column
        height: 100%
   

@media screen and (min-width: $breakpoint-phone)
    .menu-bar-wrapper
        display: none
    .drawer-menu
        display: none
    .intro
        display: flex
        justify-content: center
        align-items: center
        flex-flow: row
    .go-down
        display: flex
        justify-content: center
        width: fit-content
        right: 50px
        position: fixed
        i:hover
            background-color: $primary-color
            color: white
    .section-title
        left: 20%
        border-bottom: 3px solid $primary-color
        padding-bottom: 3px
        .bottom-bar
            background-color: transparent
            color: $primary-color

.body-wrapper
    height: 100%
    display: flex

    a
        color: $primary-color

    .nav-wrapper
        display: none
    @media screen and (min-width: $breakpoint-phone)
        .nav-wrapper
            padding: 20px
            width: 200px
            height: 100%
            position: fixed
            flex: 1
            display: flex
            flex-flow: column
            justify-content: center
            background-color: black
            .nav-item
                margin-bottom: 10px
        .section-wrapper
            margin-left: 240px
            p
                max-width: 30%

    .section-wrapper
        height: 100%
        flex: 3


        #intro
            background-color: $intro-clor
            padding: 10px

        #education
            background-color: $education-color
            padding: 10px
        #experience
            background-color: $intro-clor
            padding: 10px
        #personal
            background-color: $education-color
            padding: 0px
        #skills
            background-color: $intro-clor
            padding: 10px

        #skills:target
            .level-90
                animation-duration: 3s
                animation-name: slide90
                animation-iteration-count: 1
            @keyframes slide90 
                from 
                    width:0%
                to 
                    width:90%
            .level-70
                animation-duration: 3s
                animation-name: slide70
                animation-iteration-count: 1
            @keyframes slide70
                from 
                    width:0%
                to 
                    width:70%
            
        #social
            background-color: $education-color
            padding: 10px

        .intro
            @extend .section-card
            flex-flow: column
            align-items: center
            justify-content: center
            height: 100%

            .about
                display: flex
                flex-flow: column
                align-items: center
                h1
                    margin: 0
                h6
                    margin: 10px
                p
                    border: 1px dashed $primary-color
                    border-radius: 5px
                    padding: 20px

            img
                border-radius: 5px
                object-fit: fill
                margin-bottom: 10px

        .education
            @extend .section-card
            flex-flow: column
            align-items: center
            justify-content: center

            .edu-path
                display: flex
                flex-flow: column
                justify-content: flex-start
                align-items: flex-start

                .item
                    display: flex
                    align-items: flex-start
                    justify-content: center
                    .indicator
                        display: flex
                        flex-flow: column
                        .fa-graduation-cap,.fa-question
                            font-size: 15pt
                            transform: none
                            margin-top: 0
                        i
                            font-size: 7pt
                            margin-bottom: 10px
                            margin-top: 10px
                            transform: rotate(90deg)
                    .content
                        margin-left: 30px
                        padding: 10px
                        border: 1px dashed $primary-color
                        border-radius: 5px

        .experience
            @extend .section-card
            flex-flow: column
            align-items: center
            justify-content: center

            .edu-path
                display: flex
                flex-flow: column
                justify-content: flex-start
                align-items: flex-start

                .item
                    display: flex
                    align-items: flex-start
                    justify-content: center
                    .indicator
                        display: flex
                        flex-flow: column
                        .fa-briefcase,.fa-question
                            font-size: 15pt
                            transform: none
                            margin-top: 0
                        i
                            font-size: 7pt
                            margin-bottom: 10px
                            margin-top: 10px
                            transform: rotate(90deg)
                    .content
                        margin-left: 30px
                        padding: 10px
                        border: 1px dashed $primary-color
                        border-radius: 5px
       
        .personal-projects
            @extend .section-card
            display: flex
            flex-flow: column
            .project-wrapper
                display: flex
                flex-flow: column
                margin-top: 100px
                .project
                    margin-top: 10px
                    padding: 10px
                    background-color: $primary-color
                    color: white
                    .title-wrapper
                        display: flex
                        flex-flow: row
                        justify-content: space-between
                        .title
                            font-weight: bolder
                            border-bottom: 2px solid $projects-color
                        .type
                            background-color: $projects-color
                            border-radius: 5px
                            padding: 5px
                            padding: 5px
                            font-size: smaller
                    .about
                        p
                            border:1px solid $primary-color
                    .techs
                        display: flex
                        span
                            border:1px solid $intro-clor
                            padding: 5px
                            margin: 2px


        
        .skills
            @extend .section-card
            flex-flow: column
            margin-top: 20px
            .skills-intro
               text-decoration: underline
               margin-top: 30px
               margin-bottom: 30px
               color: $primary-color
            .list-wrapper
                display: flex
                flex-flow: column
                
                .skill-list
                    margin-top: 30px
                   
                    .title
                        font-weight: bold
                        color: $primary-color
                    .list
                        display: flex
                        flex-flow: column
                        .item
                            padding: 10px
                            .level-wrapper
                                position: relative
                                display: block
                                .level
                                    margin-top: 10px
                                    margin-bottom: 10px
                                    height: 5px
                                    background-color: $primary-color
                                    left: 0
                                    position: absolute
                                    z-index: 1
                                .level-90
                                    width: 90%
                                .level-70
                                    width: 70%
                                .level-background
                                    margin-top: 10px
                                    margin-bottom: 10px
                                    height: 5px
                                    background-color: black
                                    left: 0
                                    position: absolute
                                    width: 100%
                              
                           
                                
                                

            .other-skills
                    margin-top: 30px
                    .title
                        font-weight: bold
                        color: $primary-color
                    .tags
                        padding: 10px
                        display: flex
                        flex-flow: row
                        flex-wrap: wrap
                        div
                            background-color: $primary-color
                            max-width: fit-content
                            color: white
                            padding: 2px
                            margin:3px
                          
                    .tags:nth-child(odd)
                        margin-left: 5px
                    .tags:nth-child(even)
                        margin-right: 5px
                    

            

        .social
            @extend .section-card
            flex-flow: column
            align-items: center

            .edu-path
                display: flex
                flex-flow: column
                justify-content: flex-start
                align-items: flex-start
                margin-top: 50px

                .item
                    display: flex
                    align-items: flex-start
                    justify-content: center
                    margin-top: 20px
                    .indicator
                        display: flex
                        flex-flow: column
                        .fa-arrow-right,.fa-address-book,.fa-envelope,.fa-phone
                            font-size: 15pt
                            transform: none
                            margin-top: 0
                        
                        .fa-ellipsis-v
                            font-size: 15pt
                            transform: rotate(180deg)
                            margin-top: 1px
                            margin-bottom: 1px
                        i
                            font-size: 7pt
                            margin-bottom: 10px
                            margin-top: 10px
                            transform: rotate(90deg)
                    .content
                        margin-left: 30px
                        padding: 10px
                        border: 1px dashed $primary-color
                        border-radius: 5px

                        .title
                            color: $primary-color
                            font-weight: bolder
                            margin-bottom: 10px
                        a
                            padding: 0
                        img,a
                          
                            object-fit: contain
                            display: block
                            width: 100%
                            height: 100%

            
        @media screen and (min-width: $breakpoint-phone)
                .section-title
                    color: white
                    background-color: $primary-color
                    padding: 5px 10px 5px 10px
                    span
                        color: white
                    .bottom-bar
                        color: white
                    
                .personal-projects
                    .project-wrapper
                        display: flex
                        flex-flow: row
                        flex-wrap: wrap
                        margin-top: 50px !important
                
                        .project
                            width: 400px
                            margin: 20px
                            height: fit-content
                            .about
                                p
                                    max-width: 100%
                       
                .social
                    .edu-path
                        margin-top: 0px
                .skills
                   
                    .skills-intro
                        margin-bottom: 50px
                        padding: 30px
                        margin:30px
                        background-color: $primary-color
                        color: white
                        text-decoration: none
                      
                       
                    .list-wrapper
                        flex-flow: row
                        .skill-list
                            flex: 1
                            border: 1px solid $primary-color
                            padding: 30px
                        .skill-list:nth-child(odd)
                            margin-right: 20px
