.visit-site {
  background-color: #2274A5;
  border-radius: 3px;
  color: white;
  padding: 3px;
  padding-left: 5px !important;
  padding-right: 5px !important;
  display: flex;
  align-items: center;
  width: fit-content;
  cursor: pointer;
}

.modal-fullscreen .modal-dialog {
  z-index: 100;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: none;
  background-color: transparent;
  margin: 0;
}
.modal-fullscreen .modal-dialog .modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: #fff;
  overflow-y: scroll;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.modal-fullscreen .modal-dialog .modal-content .modal-body {
  padding: 10px;
}
.modal-fullscreen .modal-dialog .modal-content .technologies {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}
.modal-fullscreen .modal-dialog .modal-content .technologies span {
  border: 0.5px solid #2274A5;
  padding: 3px;
}
.modal-fullscreen .modal-dialog .modal-content h3 {
  color: #2274A5 !important;
  margin-top: 20px;
}
.modal-fullscreen .modal-dialog .modal-content .slider {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 30px;
}
.modal-fullscreen .modal-dialog .modal-content .slider .start-button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-fullscreen .modal-dialog .modal-content .slider .start-button i {
  cursor: pointer;
}
@media screen and (min-width: 600px) {
  .modal-fullscreen .modal-dialog .modal-content .slider .start-button {
    justify-content: start !important;
  }
  .modal-fullscreen .modal-dialog .modal-content .slider .end-button {
    justify-content: end !important;
  }
}
.modal-fullscreen .modal-dialog .modal-content .slider .end-button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-fullscreen .modal-dialog .modal-content .slider .end-button i {
  cursor: pointer;
}
.modal-fullscreen .modal-dialog .modal-content .slider .slides {
  display: flex;
  align-items: center;
  justify-items: center;
  transition: transform 0.5s ease-in-out;
}
.modal-fullscreen .modal-dialog .modal-content .slider .slide {
  display: flex;
  flex-flow: column;
  width: 100%;
  gap: 10px;
}
.modal-fullscreen .modal-dialog .modal-content .slider .slide .detail {
  padding: 5px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: start;
  width: 100%;
  text-align: start;
}
.modal-fullscreen .modal-dialog .modal-content .slider .slide .detail h4 {
  border-bottom: 3px solid #2274A5;
}
.modal-fullscreen .modal-dialog .modal-content .slider img {
  width: 100%;
  height: auto;
  object-fit: scale-down;
  outline: none !important;
  border-width: 0 !important;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 5px;
}
@media screen and (min-width: 600px) {
  .modal-fullscreen .modal-dialog .modal-content .slider .slide {
    flex-flow: row;
  }
  .modal-fullscreen .modal-dialog .modal-content .slider img {
    width: 70%;
    height: 500px;
    padding: 5px;
    object-fit: scale-down;
    outline: none !important;
    border-width: 0 !important;
  }
}
.modal-fullscreen .modal-dialog .modal-content .slider button {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}
.modal-fullscreen .modal-header {
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.modal-fullscreen .modal-close {
  font-weight: bold;
  color: #333;
  cursor: pointer;
}
@media screen and (min-width: 600px) {
  .modal-fullscreen .modal-content {
    width: 90% !important;
    height: 90% !important;
  }
  .modal-fullscreen .modal-content .slider {
    grid-template-columns: 1fr 18fr 1fr !important;
    box-shadow: none !important;
  }
}

.modal-backdrop.show {
  background-color: rgba(0, 0, 0, 0.5);
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 100% !important;
  overflow: hidden;
  object-fit: cover;
  border: 1px solid white;
}
@media (max-width: 768px) {
  .profile-image {
    width: 150px;
    height: 150px;
  }
}

.section-card, .body-wrapper .section-wrapper .social, .body-wrapper .section-wrapper .skills, .body-wrapper .section-wrapper .personal-projects, .body-wrapper .section-wrapper .certificates, .body-wrapper .section-wrapper .experience, .body-wrapper .section-wrapper .education, .body-wrapper .section-wrapper .intro {
  padding: 20px;
  min-height: 100vh;
  display: flex;
}

.body-wrapper .section-wrapper {
  flex: 3;
}
.body-wrapper .section-wrapper #intro {
  padding: 10px;
  background-color: #22BBCC;
}
.body-wrapper .section-wrapper #education {
  background-color: #2274A5;
  padding: 10px;
}
.body-wrapper .section-wrapper #experience {
  background-color: #E9F1F7;
  padding: 10px;
}
.body-wrapper .section-wrapper #personal {
  background-color: #2274A5;
  padding: 10px;
}
.body-wrapper .section-wrapper #certificates {
  background-color: #E9F1F7;
  padding: 10px;
}
.body-wrapper .section-wrapper #skills {
  background-color: #E9F1F7;
  padding: 10px;
}
.body-wrapper .section-wrapper #social {
  background-color: #E9F1F7;
  padding: 10px;
}
.body-wrapper .section-wrapper .intro {
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
.body-wrapper .section-wrapper .intro .about {
  display: flex;
  flex-flow: column;
  align-items: center;
  font-weight: bolder;
}
.body-wrapper .section-wrapper .intro .about h1 {
  margin: 0;
  color: white;
  font-size: 2.5rem;
}
.body-wrapper .section-wrapper .intro .about h3 {
  color: white;
  margin-top: 0;
  margin-bottom: 0;
}
.body-wrapper .section-wrapper .intro .about h6 {
  margin: 10px;
  color: white;
}
.body-wrapper .section-wrapper .intro .about p {
  color: white;
  padding: 10px;
  font-weight: lighter;
  border: 1px solid black;
  background-color: black;
}
.body-wrapper .section-wrapper .education {
  flex-flow: column;
  align-items: start;
  justify-content: start;
  padding: 10px !important;
  margin-top: 60px !important;
}
@media screen and (min-width: 600px) {
  .body-wrapper .section-wrapper .education {
    padding: 20px !important;
  }
}
.body-wrapper .section-wrapper .education .edu-path {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.body-wrapper .section-wrapper .education .edu-path .item {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.body-wrapper .section-wrapper .education .edu-path .item h5 {
  margin-top: 2px;
  margin-left: 10px;
  color: white;
  margin-bottom: 10px;
}
.body-wrapper .section-wrapper .education .edu-path .item ul {
  color: white;
}
.body-wrapper .section-wrapper .education .edu-path .item .indicator {
  display: flex;
  flex-flow: column;
}
.body-wrapper .section-wrapper .education .edu-path .item .indicator .fa-school, .body-wrapper .section-wrapper .education .edu-path .item .indicator .fa-university, .body-wrapper .section-wrapper .education .edu-path .item .indicator .fa-question {
  font-size: 15pt;
  color: white !important;
  transform: none;
  margin-top: 0;
}
.body-wrapper .section-wrapper .education .edu-path .item .indicator i {
  color: white !important;
  font-size: 7pt;
  margin-bottom: 10px;
  margin-top: 10px;
  transform: rotate(90deg);
}
.body-wrapper .section-wrapper .experience {
  flex-flow: column;
  align-items: start;
  justify-content: start;
  margin-top: 60px;
}
.body-wrapper .section-wrapper .experience .edu-path {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.body-wrapper .section-wrapper .experience .edu-path .item {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.body-wrapper .section-wrapper .experience .edu-path .item h5 {
  margin-top: 2px;
  margin-left: 10px;
  margin-bottom: 5px;
}
.body-wrapper .section-wrapper .experience .edu-path .item .indicator {
  display: flex;
  flex-flow: column;
}
.body-wrapper .section-wrapper .experience .edu-path .item .indicator .fa-briefcase, .body-wrapper .section-wrapper .experience .edu-path .item .indicator .fa-question {
  font-size: 15pt;
  transform: none;
  margin-top: 0;
}
.body-wrapper .section-wrapper .experience .edu-path .item .indicator i {
  font-size: 7pt;
  margin-bottom: 10px;
  margin-top: 10px;
  transform: rotate(90deg);
}
.body-wrapper .section-wrapper .certificates {
  display: flex;
  flex-flow: column;
  padding: 10px;
}
@media screen and (min-width: 600px) {
  .body-wrapper .section-wrapper .certificates .certificate-wrapper {
    grid-template-columns: 1fr 1fr !important;
    column-gap: 20px !important;
    row-gap: 30px !important;
  }
}
.body-wrapper .section-wrapper .certificates .certificate-wrapper {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 5px;
  row-gap: 20px;
}
@media screen and (min-width: 600px) {
  .body-wrapper .section-wrapper .certificates .certificate-wrapper {
    row-gap: 50px;
  }
}
.body-wrapper .section-wrapper .certificates .certificate-wrapper .certificate {
  padding: 10px;
  border: 1px solid black;
  color: black;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
.body-wrapper .section-wrapper .certificates .certificate-wrapper .certificate .title {
  display: flex;
  align-items: center;
}
.body-wrapper .section-wrapper .certificates .certificate-wrapper .certificate .type {
  color: black;
}
.body-wrapper .section-wrapper .certificates .certificate-wrapper .certificate .btn {
  display: flex;
  justify-content: center;
  color: white;
  font-weight: bold;
  background: black;
  margin-top: 10px;
  margin-bottom: 5px;
}
.body-wrapper .section-wrapper .certificates .certificate-wrapper .certificate .btn i {
  color: white;
}
.body-wrapper .section-wrapper .certificates .certificate-wrapper .certificate .btn a {
  color: white;
}
.body-wrapper .section-wrapper .personal-projects {
  display: flex;
  flex-flow: column;
  padding: 10px;
}
@media screen and (min-width: 600px) {
  .body-wrapper .section-wrapper .personal-projects .project-wrapper {
    grid-template-columns: 1fr 1fr 1fr !important;
    column-gap: 20px !important;
    row-gap: 30px !important;
  }
}
.body-wrapper .section-wrapper .personal-projects .project-wrapper {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 5px;
  row-gap: 20px;
}
@media screen and (min-width: 600px) {
  .body-wrapper .section-wrapper .personal-projects .project-wrapper {
    row-gap: 50px;
  }
}
.body-wrapper .section-wrapper .personal-projects .project-wrapper .project {
  padding: 10px;
  border: 1px solid black;
  color: white;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  cursor: pointer;
}
.body-wrapper .section-wrapper .personal-projects .project-wrapper .project .title-wrapper {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
.body-wrapper .section-wrapper .personal-projects .project-wrapper .project .title-wrapper .title {
  font-weight: bolder;
  border-bottom: 2px solid #131B23;
}
.body-wrapper .section-wrapper .personal-projects .project-wrapper .project .title-wrapper .type {
  background-color: #131B23;
  border-radius: 5px;
  padding: 5px;
  font-size: smaller;
}
.body-wrapper .section-wrapper .personal-projects .project-wrapper .project .about p {
  border: 1px solid #2274A5;
}
.body-wrapper .section-wrapper .skills {
  padding: 10px !important;
}
@media screen and (min-width: 600px) {
  .body-wrapper .section-wrapper .skills {
    padding: 20px !important;
  }
}
.body-wrapper .section-wrapper .skills .skills-wrapper {
  padding-top: 40px !important;
  display: grid;
  grid-template-columns: 1fr;
  height: fit-content;
  grid-row-gap: 20px;
  grid-column-gap: 100px;
}
@media screen and (min-width: 600px) {
  .body-wrapper .section-wrapper .skills .skills-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.body-wrapper .section-wrapper .skills .skills-wrapper .other-skills .title {
  font-weight: bold;
  color: #2274A5;
}
.body-wrapper .section-wrapper .skills .skills-wrapper .other-skills .title .tags {
  padding: 10px;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}
.body-wrapper .section-wrapper .skills .skills-wrapper .other-skills .title .tags div {
  background-color: #2274A5;
  max-width: fit-content;
  color: white;
  padding: 2px;
  margin: 3px;
}
.body-wrapper .section-wrapper .skills .skills-wrapper .other-skills .title .tags:nth-child(odd) {
  margin-left: 5px;
}
.body-wrapper .section-wrapper .skills .skills-wrapper .other-skills .title .tags:nth-child(even) {
  margin-right: 5px;
}
.body-wrapper .section-wrapper .social {
  flex-flow: column;
  align-items: start;
}
.body-wrapper .section-wrapper .social .edu-path {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 50px;
}
.body-wrapper .section-wrapper .social .edu-path .item {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: 10px;
}
.body-wrapper .section-wrapper .social .edu-path .item h5 {
  margin-top: 0;
}
.body-wrapper .section-wrapper .social .edu-path .item .indicator {
  display: flex;
  flex-flow: column;
}
.body-wrapper .section-wrapper .social .edu-path .item .indicator .fa-arrow-right, .body-wrapper .section-wrapper .social .edu-path .item .indicator .fa-address-book, .body-wrapper .section-wrapper .social .edu-path .item .indicator .fa-envelope, .body-wrapper .section-wrapper .social .edu-path .item .indicator .fa-phone, .body-wrapper .section-wrapper .social .edu-path .item .indicator .fa-github, .body-wrapper .section-wrapper .social .edu-path .item .indicator .fa-stack-overflow, .body-wrapper .section-wrapper .social .edu-path .item .indicator .fa-linkedin {
  font-size: 15pt;
  transform: none;
}
.body-wrapper .section-wrapper .social .edu-path .item .indicator .fa-ellipsis-v {
  font-size: 15pt;
  transform: rotate(180deg);
  margin-top: 1px;
  margin-bottom: 1px;
}
.body-wrapper .section-wrapper .social .edu-path .item .indicator i {
  font-size: 7pt;
  margin-bottom: 10px;
  margin-top: 10px;
  transform: rotate(90deg);
}
.body-wrapper .section-wrapper .social .edu-path .item .content {
  margin-left: 30px;
  padding: 10px;
  border: 1px dashed #2274A5;
  border-radius: 0px;
}
.body-wrapper .section-wrapper .social .edu-path .item .content .title {
  color: #2274A5;
  font-weight: bolder;
  margin-bottom: 10px;
}
.body-wrapper .section-wrapper .social .edu-path .item .content a {
  padding: 0;
}
.body-wrapper .section-wrapper .social .edu-path .item .content img, .body-wrapper .section-wrapper .social .edu-path .item .content a {
  object-fit: contain;
  display: block;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 600px) {
  .body-wrapper .section-wrapper .section-title {
    color: white;
    background-color: black;
    padding: 5px 10px 5px 10px;
  }
  .body-wrapper .section-wrapper .section-title span {
    color: white;
  }
  .body-wrapper .section-wrapper .section-title span .bottom-bar {
    color: white;
  }
  .body-wrapper .section-wrapper .section-title .social .edu-path {
    margin-top: 0;
  }
}

/*# sourceMappingURL=main-section-wrapper.css.map */
