@use "sass/_variables" as v
@use 'sass/_modal'
@use "sass/_profile_image"

.section-card
  padding: 10px
  min-height: 100vh
  display: flex


.body-wrapper
  .section-wrapper
    flex: 3

    #about-me
      padding: 10px
      background-color: v.$primary-color

      @media screen and (min-width: v.$breakpoint-phone)
        .section-title
          background-color: v.$experience-color !important
          .bottom-bar
            background-color: transparent !important
            color: v.$primary-color !important
    #experience
      background-color: v.$experience-color
      padding: 10px
    #personal
      background-color: v.$education-color
      padding: 10px

    #certificates
      background-color: v.$experience-color
      padding: 10px
    #skills
      background-color: v.$experience-color
      padding: 10px

    #contact-me
      background-color: v.$experience-color
      padding: 10px

    .intro
      @extend .section-card
      flex-flow: column
      align-items: center
      justify-content: center

      .about
        display: flex
        flex-flow: column
        align-items: center
        font-weight: bolder

        h1
          margin: 0
          color: white
          font-size: 2.5rem

        h3
          color: white
          margin-top: 0
          margin-bottom: 0

        h6
          margin: 10px
          color: white
        p
          color: white
          padding: 10px
          font-weight: lighter
          border: 1px solid black
          background-color: black


    .experience
      @extend .section-card
      flex-flow: column
      align-items: start
      justify-content: start
      margin-top: 60px

      .edu-path
        display: grid
        grid-template-columns: 1fr
        grid-row-gap: 30px

        .item
          display: flex
          align-items: flex-start
          justify-content: start
          box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1)
          padding: 20px


          h5
            margin-top: 2px
            margin-bottom: 5px


    .certificates
      @extend .section-card
      display: flex
      flex-flow: column
      padding: 10px

      @media screen and (min-width: v.$breakpoint-phone)
        .certificate-wrapper
          grid-template-columns: 1fr 1fr !important
          column-gap: 20px !important
          row-gap: 30px !important

      .certificate-wrapper
        margin-top: 40px

        display: grid
        grid-template-columns: 1fr
        column-gap: 5px
        row-gap: 20px

        @media screen and (min-width: v.$breakpoint-phone)
          row-gap: 50px

        .certificate
          padding: 20px

          color: black
          display: flex
          flex-flow: column
          justify-content: space-between
          box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1)

          .title
            display: flex
            align-items: center
          .type
            color: black
          .btn
            display: flex
            justify-content: start
            color: v.$primary-color !important

            font-weight: bold
            background: transparent
            a
              padding: 0
              text-decoration: underline
              font-size: small



    .personal-projects
      @extend .section-card
      display: flex
      flex-flow: column
      padding: 10px

      @media screen and (min-width: v.$breakpoint-phone)
        .project-wrapper
          grid-template-columns: 1fr 1fr 1fr !important
          column-gap: 20px !important
          row-gap: 30px !important

      .project-wrapper
        margin-top: 40px

        display: grid
        grid-template-columns: 1fr
        column-gap: 5px
        row-gap: 20px

        @media screen and (min-width: v.$breakpoint-phone)
          row-gap: 50px

        .project:hover
          background-color: v.$primary-color
          color: white

        .project
          padding: 10px
          display: flex
          flex-flow: column
          justify-content: space-between
          cursor: pointer
          background-color: v.$experience-color

          .title-wrapper
            display: flex
            flex-flow: row
            justify-content: space-between
            .title
              font-weight: bolder
              border-bottom: 2px solid v.$projects-color
            .type
              background-color: v.$projects-color
              color: white
              border-radius: 5px
              padding: 5px
              font-size: smaller




    .skills
      @extend .section-card
      padding: 10px !important

      @media screen and (min-width: v.$breakpoint-phone)
        padding: 20px !important

      .skills-wrapper
        padding-top: 40px !important
        display: grid
        grid-template-columns: 1fr
        height: fit-content
        grid-row-gap: 50px
        grid-column-gap: 100px

        .other-skills
          display: flex
          flex-flow: column
          gap: 20px

          .title
            font-weight: bold
            color: v.$primary-color
            text-decoration: underline
          .tags
            display: flex
            gap: 12px
            flex-wrap: wrap


            span
              margin-top: 8px
              font-size: small

        @media screen and (min-width: v.$breakpoint-phone)
          grid-template-columns: 1fr 1fr

    .contact-me
      @extend .section-card
      flex-flow: column
      align-items: start
      justify-content: center
      gap: 10px
      .divider
        display: none
      a
        display: flex
        justify-content: center
        align-items: center
        gap: 5px
        font-weight: bold
        font-size: larger
      @media screen and (min-width: v.$breakpoint-phone)
        flex-flow: row
        align-items: center
        justify-content: center
        div
          margin-bottom: 100px
        .divider
          display: block




